<!-- <pre>{{allfashion|json}}</pre> -->

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img mb-5 mb-md-0" src="https://cdn.shopify.com/s/files/1/0645/0164/5557/files/home_slider_1_3000x.png?v=1652939413" alt="..." /></div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">Vintage Colors Comeback</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <!-- <span>$40.00</span> -->
                </div>
                <p class="lead">Less is more never out of date. In the last of this years,<br> vintage clothings come back, discover our collections and <br> choose your style</p>
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Shop Now 
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <pre>{{searchterm |json}}</pre> -->


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let fashion of allfashions | filter:searchterm :'title'">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="fashion.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{fashion.title}}</h5>
                            <!-- Product price-->
                            ${{fashion.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button (click)="addtowishlist(fashion)" class="btn btn-outline-dark mt-auto" routerLink=""><i class="fa fa-heart"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button (click)="addcart(fashion)" class="btn btn-outline-dark mt-auto" ><i class="fa fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


